<p id="notice"><%= notice %></p>


<div class="alert alert-info" role="alert">Hey there! Here you can read or create new posts! :)</div>

<p><%= link_to "New post", new_post_path, class: "btn btn-danger glyphicon glyphicon-plus"%></p>

<h1>Recent posts:</h1>


<%= render 'shared/post', locals: @posts %>

